<div class="hero-image">
  <div class="hero-text">
    <h1>Vilchez y Asociados</h1>
    <p>Detetives Privados</p>
    <button>Contactanos</button>
  </div>
</div>

<div class="wrapper">

<div class="card">
  <img class= "imagen" src="https://agenciagranvia.com/wp-content/uploads/que-valorar-cuando-buscan-un-detective-privado.png" alt="Avatar">
  <div class="container">
    <h4><b>Seguridad y Calidad</b></h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus placerat sem sed lectus vestibulum commodo. Sed a faucibus est. Interdum et malesuada fames ac ante ipsum primis in faucibus. In lacinia consequat ante ut rhoncus.</p>
  </div>
</div>

<div class="card">
  <img class= "imagen" src="https://img.europapress.es/fotoweb/fotonoticia_20220323103031-1419039_600.jpg" alt="Avatar">
  <div class="container">
    <h4><b>Confidencialidad Asegurada</b></h4>
    <p>Curabitur vulputate, neque ut faucibus condimentum, augue nulla pulvinar nulla, eget euismod orci elit eu neque. Ut eget odio vitae felis mollis scelerisque. Etiam blandit diam et urna luctus, condimentum auctor lectus blandit.</p>
  </div>
</div>

<div class="card">
  <img class= "imagen" src="https://imagenes.lainformacion.com/files/image_656_370/uploads/imagenes/2020/04/03/5e876e5dc9a11.jpeg" alt="Avatar">
  <div class="container">
    <h4><b>No nos ve ni el Puma</b></h4>
    <p>Maecenas eget vestibulum magna, et scelerisque turpis. Nulla facilisi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras non laoreet ex.</p>
  </div>
</div>

</div>
